<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About PC-Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <a href="/">PC-Recommender</a>
        </div>
        <div id="links">
            <a href="/preferences">Start</a>
            <a href="/about">About</a>
            <a href="https://github.com/GogoManev/PC-Recommender">Repo</a>
        </div>
    </div>
    <hr>
    <a>PC Recommender is a website which tries to suggest a PC Configuration for newbies. </a>
    <br>
    <a>It was written as part of a Python project.</a>
    <br>
    <a>Creator: Georgy Manev</a>
</body>
</html>