<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC-Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<script src="{{ url_for('static', filename='index.js')}}"></script>
<body>
    <div id="navbar">
        <div id="logo">
            <a href="/">PC-Recommender</a>
        </div>
        <div id="links">
            <a href="/preferences">Start</a>
            <a href="/about">About</a>
        </div>
    </div>
    <hr>

    <a>Site is WIP! {{ text }}</a>
    <br>
    <a href="/preferences">Enter your preferences!</a>
</body>
</html>