<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender | PC-Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <a href="/">PC-Recommender</a>
        </div>
        <div id="links">
            <a href="/preferences">Start</a>
            <a href="/about">About</a>
            <a href="https://github.com/GogoManev/PC-Recommender">Repo</a>
        </div>
    </div>
    <h1>Your options</h1>
    <br>
    {% for key,value in form_data.items() %}
    <a>{{key}}:</a>
    <a>{{value}}</a>
    <br>
    {% endfor %}
    <h2 id="closest">Closest Match:</h2>
    <img src={{image}}>
    <br>
    <div id="pcspecs">
        {% for key, value in PC.items() %}
        <a>{{key}}:</a>
        <strong>{{value}}</strong>
        <br>
        {% endfor %}
    </div>
    <div id="pclinks">
        <h4>Links (Ardes)</h4>
        {% for key, value in links.items() %}
        <a href={{value}}>{{key}}</a>
        <br>
        <br>
        {% endfor %}    
    </div>
    
</body>
</html>